{% load static %}

<div id="carousel" class="carousel" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="banner-img d-block w-100" src="{% static 'images/banner1.jpg' %}" alt="Sahara">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="banner-text">Sahara</h1>
                <p class="banner-caption">Inventory Management Application</p>
            </div>
        </div>
    </div>
</div>